# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Output directory
/out/
